* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.head-title {
    font-weight: bold;
    color: rgb(228, 134, 10);
}

.container {
    height: 100%;
}

.container .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(176, 229, 208, 1) 42%, rgba(92, 202, 238, 0.41) 93.6%);
}

.container .footer .cp-text {
    text-align: center;
    margin: auto;
}

.container .header ul {
    list-style: none;
    margin-top: .8em;
}

.container .header .menu {
    display: flex;
    flex-direction: row;
}

.container .header .menu li {
    width: 150px;
}

.container .header .menu a {
    text-decoration: none;
    color: rgb(228, 134, 10);
    font-size: 1.2em;
    display: block;
}

a {
    text-decoration: none;
}

.txt-center {
    text-align: center;
}