@import '../common/common.css';
@import 'responsive.css';

.container .main {
    background-color: aliceblue;
}

.container .main .title {
    text-align: center;
    padding-bottom: 25px;
}

.container .main .content {
    padding: 1rem 50px 0px;
    font-size: 1.3rem;
}

.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .more .social {
    padding: 20px 20px 20px 0px;
  }