@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
    * {
        font-size: 1.3rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    .container .header {
        grid-area: header;
        text-align: center;
    }

    .container .main {
        grid-area: main;

    }

    .container .footer {
        grid-area: footer;
    }

    .author {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-template-areas: 
        "info more";
    }

     .author .info {
        grid-area: info;
    }

    .author .more {
        grid-area: more;
    }

    body {
        background: url("../../images/home/home.jpg") no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

@media 
only screen 
  and (min-device-width: 768px)
  and (max-device-width: 1200px)
{
    * {
        font-size: 1.1rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    .container .header {
        grid-area: header;
        text-align: center;
    }

    .container .main {
        grid-area: main;
        min-height: 78vh;
    }


    .container .footer {
        grid-area: footer;
    }

    .author {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-template-areas: 
        "info more";
    }

     .author .info {
        grid-area: info;
    }

    .author .more {
        grid-area: more;
    }

    body {
        background: url("../../images/home/home.jpg") no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

/* mobile Device */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2),
  screen
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2),
  screen
  and (device-width: 540px) 
  and (device-height: 720px),
  screen
  and (device-width: 280px) 
  and (device-height: 653px)
  {

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    .container .header {
        grid-area: header;
        text-align: center;
    }

    .container .main {
        grid-area: main;
        min-height: 78vh;
    }


    .container .footer {
        grid-area: footer;
    }

    .author {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        grid-template-areas: 
        "info" "more";
    }

     .author .info {
        grid-area: info;
    }

    .author .more {
        grid-area: more;
    }

    body {
        background: url("../../images/home/home.jpg") no-repeat;
        background-size: cover;
    }
}