@import '../common/common.css';
@import 'responsive.css';


body {
    background: url("../../images/home/home.jpg") no-repeat;
    background-size: cover;
}

.main .content .card .cart-title {
    text-align: center;
}

.main .content .card .card-content {
    text-align: center;
}

.main .content .card .more {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ACFDA8;
    display: block;
}

.sidebar .side-content {
    display: flex;
    flex-direction: column;
    column-gap: 80%;
    background-image: radial-gradient(circle 311px at 8.6% 27.9%, rgba(62, 147, 252, 0.57) 12.9%, rgba(239, 183, 192, 0.44) 91.2%);
}

.sidebar .side-content .refer {
    text-align: center;
    font-size: 1.3rem;
    height: 3rem;
    position: relative;
}

.sidebar .side-content .cap {
    background-color: #222126;
    color: white;
}

.sidebar .side-content .refer a {
    color: yellow;
    display: block;
    height: inherit;
}

.sidebar .side-content .refer a:hover {
    background-color: #538322;
}

.btn:hover {
    box-shadow: 3px 3px 3px 3px rgba(200, 151, 15, 0.4);
    background-color: #538322;
}

.btn {
    background-color: #2bb73d;
    border-radius: 0px 0px 10px 10px;
    border: none;
}

.refer .vercical-center {
    padding-top: 10px;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}