@import '../common/common.css';

@media (min-width: 1200px) and (max-device-width: 1600px) {
    * {
        font-size: 1.3rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    .container .header {
        grid-area: header;
        text-align: center;
    }

    .container .main {
        grid-area: main;

    }

    .container .footer {
        grid-area: footer;
    }
}

/* Tablet Device */
@media (min-width: 768px) and (max-width: 1199px) {
    * {
        font-size: 1.1rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    .container .header {
        grid-area: header;
        text-align: center;
    }

    .container .main {
        grid-area: main;
        min-height: 78vh;
    }


    .container .footer {
        grid-area: footer;
    }
}

/* mobile Device */
@media (min-width: 320px) and (max-width: 767px) {

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    .container .header {
        grid-area: header;
        text-align: center;
    }

    .container .main {
        grid-area: main;
        min-height: 78vh;
    }


    .container .footer {
        grid-area: footer;
    }
}

body {
    background: url("../../images/home/home.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}

.container .main {
    background-color: aliceblue;
}

.container .main .title {
    text-align: center;
    padding-bottom: 25px;
}

.container .main .content {
    padding: 1rem 50px 0px;
    font-size: 1.3rem;
}